<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ if not .IsHome }}has-breadcrumb{{ end }}">
  

  {{ partial "header.html" . }}
  <main>
<section class="hero-v2 hero-v2-front">

  <div class="hero-v2-top hero-v2-top-front ">



<div class="hero-v2-circles">
 <svg viewBox="0 0 1000 1000" preserveAspectRatio="xMaxYMin slice">

  <!-- outer -->
  <circle cx="1150" cy="-120" r="880" fill="#470000" />

  <!-- big -->
  <circle cx="1150" cy="60" r="700" fill="#720000" />

  <!-- mid -->
  <circle cx="1150" cy="240" r="520" fill="#910301" />

  <!-- inner -->
  <circle cx="1150" cy="420" r="360" fill="#c13801" />

</svg>
</div>



  </div>

  <div class="hero-v2-inner container">


    <amp-img
src="/img/barcode.png"
width="210"
height="113"
layout="responsive"
class="hero-base-barcode"
alt="barcode">
</amp-img>
   

  </div>
<div class="hero-wrap">  
  <amp-img
src="/img/index-hero-image.svg"
width="1570"
height="975"
layout="responsive"
class="hero-v2-index hero-v2-asset"
alt="hero-image">
</amp-img>
</div>



  

</section>

    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

</body>
</html>