{{ partial "head.html" . }}
{{ partial "header.html" . }}



<section class="blog-hero">

    <div class="container-lab container">

        <div class="blog-hero__graphic">

            <span class="layer layer-1"></span>
            <span class="layer layer-2"></span>
            <span class="layer layer-3"></span>
            <span class="layer layer-4"></span>

        </div>

        <div class="blog-hero__content">

        

         

            <div class="hero-wrap--blog">  
  <amp-img
src="/img/pigeon.png"
width="1920"
height="1500"
layout="responsive"
class="hero-v2-pigeon hero-v2-asset"
alt="pigeon">
</amp-img>
 </div>

    <h1>BLOG.</h1>

        </div>

    </div>

</section>

<section class="section-lg zigzag-section">
  
  <div class="container">

    <header class="">
    <h2 class="section__title-md">
       
   Latest Articles
    


    </header>

    <div class="blog-archive-layout">

      <!-- LEFT SIDEBAR -->
      <aside class="blog-sidebar">

        <h3 class="blog-sidebar__title">
          Categories
        </h3>

        <ul class="blog-sidebar__list">
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <li>
            <a href="{{ $taxonomy.Page.RelPermalink }}">
              {{ $name }}
            </a>
          </li>
          {{ end }}
        </ul>

      </aside>

      <!-- KEEP YOUR EXISTING POSTS -->
      <div class="blog-archive-posts">


        {{ range $i, $page := .RegularPages.ByDate.Reverse }}

        <article class="blog-card {{ if modBool $i 2 }}blog-card--reverse{{ end }}">

          {{ with $page.Resources.GetMatch "images/hero.png" }}
          <a href="{{ $page.RelPermalink }}" class="blog-card__image">
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $page.Title }}">
          </a>
          {{ end }}

          <div class="blog-card__content">

            <div class="blog-card__meta">
            

              <span>{{ $page.Date.Format "Jan 2, 2006" }}</span>
            </div>

            <h2 class="section__title-xxs">
              <a href="{{ $page.RelPermalink }}">
                {{ $page.Title }}
              </a>
            </h2>

            <p class="blog-card__summary">
              {{ $page.Summary | plainify | truncate 180 }}
            </p>

          </div>

        </article>

        {{ end }}

      </div>

    </div>

  </div>
</section>

{{ partial "footer-cta.html" . }}