{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="article">


  <article class="article-container">

  <div class="article-hero-split">

  <div class="hero-text">
       <p class="meta">
    {{ .Date.Format "January 2006" }}
    </p>
    <h1 class="article__title section__title-sm">{{ .Title }}</h1>

    {{ with .Params.subtitle }}
      <p class="article__subtitle">{{ . }}</p>
    {{ end }}

    
 
  </div>

  <div class="hero-image--post">
    {{ with .Resources.GetMatch .Params.image }}
      <img src="{{ .RelPermalink }}" alt="">
    {{ end }}
  </div>

</div>
      
    <!-- ✅ THIS WAS MISSING -->
    <section class="article-content">

      {{ with .Params.lead }}
  <p class="article__lead">{{ . }}</p>
{{ end }}

      {{ .Content }}
              <!-- Ambient background -->
<div class="ambient-orbs">
  <span class="orb orb--1"></span>
  <span class="orb orb--2"></span>
  <span class="orb orb--3"></span>
  <span class="orb orb--4"></span>
  <span class="orb orb--5"></span>
</div>
    </section>

  </article>

</main>

{{ partial "footer-cta.html" . }}