{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="article">


  <article class="article-container">

  <div class="article-hero-split">

  <div class="hero-text">
       <p class="meta">
    {{ .Date.Format "January 2006" }}
    </p>
    <h1>{{ .Title }}</h1>

    {{ with .Params.subtitle }}
      <p class="subtitle">{{ . }}</p>
    {{ end }}

    
 
  </div>

  <div class="hero-image--post">
    {{ with .Resources.GetMatch .Params.image }}
      <img src="{{ .RelPermalink }}" alt="">
    {{ end }}
  </div>

</div>
      {{ with .Params.lead }}
  <p class="lead">{{ . }}</p>
{{ end }}
    <!-- ✅ THIS WAS MISSING -->
    <section class="article-content">

      {{ .Content }}
    </section>

  </article>

</main>

{{ partial "footer-cta.html" . }}