<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>

<body>


  {{ partial "header.html" . }}
<section class="about-editorial section">

    <div class="container">

        <div class="about-editorial__grid">

<div class="about-editorial__image square">

    <amp-img
        src="/img/dan.png"
        width="260"
        height="260"
        layout="responsive"
        class="square">
    </amp-img>



  

    <!-- Development -->
  

</div>

            <div class="about-editorial__content">

                <h2 class="about-editorial__title">

                    Hi, I'm <span>Dan</span> and I am a creative lead of TMS company.

                </h2>

                <div class="about-editorial__text">

                    <p>

                        I have  an extensive background in art and design and
                         hold a First-Class Honours Degree in Fine Art from  <a href="#">University</a>. 
                        I get by as a  product designer, 
                        digital publisher, boat art consultant, and music producer
                        living between the UK and Geogia.  
                    </p>

                    <p>
                     

                        <a href="#">
                            Drop me a line
                        </a>

                        about your project if you're interested in working with me.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

<footer class="footer-minimal">

    <div class="container">

        <a href="/" class="footer-word">
            TMS
        </a>

        <a href="/lab" class="footer-word">
            2026
        </a>

    </div>

</footer>