<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>

<body>


  {{ partial "header.html" . }}
<section class="about-editorial section">

    <div class="container">

        <div class="about-editorial__grid">

         <div class="about-editorial__image">

  <amp-img
    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&amp;w=1600&amp;auto=format&amp;fit=crop"
    width="260"
    height="260"
    layout="responsive"></amp-img>

   
    <!-- Placeholder -->


</div>

            <div class="about-editorial__content">

                <h2 class="about-editorial__title">

                    Hi, I'm <span>Oksana</span> and I make things on the web.

                </h2>

                <div class="about-editorial__text">

                    <p>
                        I get by as a librarian, product designer, user researcher,
                        digital publisher, accessibility specialist, and music enthusiast
                        living in Northern Michigan and working for
                        <a href="#">Michigan Publishing</a> at the
                        <a href="#">University of Michigan Library</a>.
                    </p>

                    <p>
                        I'm also available for hire as a freelance developer,
                        designer, researcher, or consultant.

                        <a href="#">
                            Drop me a line
                        </a>

                        about your project if you're interested in working with me.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

<footer class="footer-minimal">

    <div class="container">

        <a href="/" class="footer-word">
            Jonathan
        </a>

        <a href="/lab" class="footer-word">
            Lab
        </a>

    </div>

</footer>